.header{
    background-color: blue;
    padding: 0.5em;
    
}
.header ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    display:inline-block;
    width: 75%;
}
.header a{
    color:beige;
}
.userSection
{
    text-align: center;
    background-color: rgb(255, 255, 255);
    display:inline-block;
    width: 20%;
}
.userSection a{
    color:black;
}
.profileLink{
 margin-right: 10px;
}
